/* can we link to a cdn that has Roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: Roboto;
    background-color: #f5f5f5;
}

.inputForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: grey;
    border: 3px solid black;
    border-radius: 5px;
    color: #d8d8d8;
}
